.main{
  width:325px;
  border:1px solid;
  border-color:var(--common-border-color);
  border-radius: 8px;
  padding-bottom: 10px;
  cursor:pointer;
}

.main:hover{
  border:1px solid;
  border-color: var(--common-text-primary-color);
}