:host ::ng-deep .mySteps.p-steps{
  
  width:275px;
  
.p-steps-number{
  color: var(--common-text-primary-color);
}

.p-steps-title{
  color: var(--common-text-primary-color);
  font-size: small;
}

}