<div class="main">
  <div style="display:flex;justify-content:center;margin-top:100px">
    <img src="/assets/img/main001.jpg">
  </div>
  <div style="display:flex;justify-content:center;margin-top: 10px;">
    <ion-button (click)="go()"  shape="round" color="warning" size="small">
      <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon> Go 
    </ion-button>
  </div>
</div>


<ion-footer class="ion-no-border" mode="ios" class="ion-padding" style="background:#00184a">
  <ion-img src="/assets/img/main000.jpg"></ion-img>
</ion-footer>